<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jajac.pocketscanner">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="rs.elfak.jajac.pocketscanner.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="rs.elfak.jajac.pocketscanner.CameraActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="rs.elfak.jajac.pocketscanner.CornersActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="rs.elfak.jajac.pocketscanner.DocumentActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name="rs.elfak.jajac.pocketscanner.LocationService"/>

        <activity android:name="rs.elfak.jajac.pocketscanner.MapActivity">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_K_tTDSmxnpIV7CsTrBAhuqtTPAQPgfk"/>
    </application>

</manifest>